@mixin flex($direction: row, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin section-padding {
    padding-left: 5em;
    padding-right: 5em;
}