@use './fonts';

@mixin flex($direction: row, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin section-padding {
    padding-left: 6em;
    padding-right: 6em;
}

@mixin colors($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
}

@mixin section-header {
    font-family: fonts.$header-font;
    font-size: 3em;
}

@mixin font-styling ($font-family, $font-size) {
    font-family: $font-family;
    font-size: $font-size;
}

@mixin mirror-icon ($size) {
    font-size: $size;
    transform: scaleX(-1);
}

@mixin button-styling ($color, $font-size: 1.5em, $padding: 0.5em, $border-weight: 3px) {
    @include fonts.page-font-bold;
    font-size: $font-size;
    color: $color;
    text-decoration: none;
    padding: $padding;
    width: auto;
    border: $border-weight solid $color;
}

@mixin grid-styling ($gap) {
    flex-wrap: wrap;
    width: 100%;
    gap: $gap;
}