@use './fonts';

@mixin flex($direction: row, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin section-padding {
    padding-left: 6em;
    padding-right: 6em;
}

@mixin colors($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
}

@mixin section-header {
    font-family: fonts.$header-font;
    font-size: 3em;
}