$large-padding: 6rem;
$laptop-padding: 4rem;
$large-tablet-padding: 3rem;
$large-phone-padding: 2rem;

$section-header-font-size-large: 3em;
$section-header-font-size-large-tablet: 2.5em;
$section-header-font-size-large-phone: 2em;

$main-font-size-large: 1.5em;
$main-font-size-large-tablet: 1.25em;
$main-font-size-large-phone: 1.1em;
