@use './partials/colors';
@use './partials/fonts';
@use './partials/mixins';
@use './sections/nav.scss';
@use './sections/header.scss';
@use './sections/menu.scss';
@use './sections/reviews.scss';
@use './sections/footer.scss';
@use './sections/contact.scss';
@use './sections/about-header.scss';
@use './sections/about-main.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}