.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar__icon {
  color: #FAA196;
  font-size: 2.5em;
}
.navbar__icon--flipped {
  transform: scaleX(-1);
}
.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navbar__item {
  list-style: none;
  padding-left: 4em;
}
.navbar__link {
  font-family: "Open Sans";
  font-weight: bold;
  text-decoration: none;
  color: #404040;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6em;
  padding-right: 6em;
  background-color: #689572;
  color: white;
  flex-grow: 1;
  align-items: flex-start;
}
.header__main-heading {
  font-family: "Rammetto One";
  font-size: 3em;
  margin-bottom: 0.25em;
}
.header__text {
  font-family: "Open Sans";
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.header__btn {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  width: auto;
  border: 3px solid white;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  gap: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.menu__heading {
  font-family: "Rammetto One";
  font-size: 3em;
  color: #FAA196;
}
.menu__category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.menu__category-wrapper {
  width: 100%;
}
.menu__category-wrapper-header {
  font-family: "Open Sans";
  font-weight: bold;
  background-color: #EBC9C4;
  color: #404040;
  font-size: 1.5em;
  align-items: center;
  gap: 1.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}
.menu__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.menu__grid--columns-3 .menu__card {
  width: calc((100% - 2.5em) / 3);
}
.menu__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  padding: 1.25em;
  background-color: #EBC9C4;
  color: #404040;
  gap: 1em;
}
.menu__card-image {
  width: 100%;
  height: auto;
}
.menu__card-title {
  font-family: "Open Sans";
  font-size: 1.5em;
}
.menu__card-dietary-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
.menu__card-dietary-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25em;
}
.menu__card-dietary-icon {
  color: #689572;
}
.menu__card-dietary-label {
  font-family: "Open Sans";
  font-size: 0.85em;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  background-color: #FAA196;
  gap: 0.75em;
  padding-top: 1.5em;
  padding-bottom: 3em;
}
.reviews__heading {
  font-family: "Rammetto One";
  font-size: 3em;
  color: white;
}
.reviews__grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
}
.reviews__grid--columns-2 .reviews__card {
  width: calc((100% - 4em) / 2);
}
.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1.5em 2em;
  gap: 1.5em;
  border: 3px solid white;
  color: #404040;
}
.reviews__quote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  width: 100%;
  gap: 0.75em;
}
.reviews__quote-left-icon {
  font-size: 1.5em;
  align-self: flex-start;
}
.reviews__quote-right-icon {
  font-size: 1.5em;
  align-self: flex-end;
}
.reviews__quote-text {
  font-size: 1.2em;
  align-self: center;
  text-align: center;
}
.reviews__quote-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: "Open Sans";
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6em;
  padding-right: 6em;
  background-color: #82A289;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
}
.footer__copyright-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.footer__copyright-icon {
  font-size: 2em;
}
.footer__copyright-icon--flipped {
  transform: scaleX(-1);
}
.footer__copyright-text {
  font-family: "Open Sans";
  font-size: 1.1em;
}
.footer__social-icon {
  font-size: 2.5em;
}

* {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
