@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';
@use '../partials/media_queries' as q;
@use '../partials/sizes';

.about-header {
    @include mixins.flex;
    width: 100%;
    &__image {
        flex: 1 1 50%;
        width: 100%;
        object-fit: cover;
        max-height: 100vh;
    }
    &__info {
        @include mixins.flex(column, center);
        @include mixins.section-padding(sizes.$large-padding);
        @include mixins.colors(colors.$main-green, colors.$text-light);
        align-items: flex-end;
        flex: 1 1 100%;
    }
    &__main-heading {
        @include mixins.section-header(sizes.$section-header-font-size-large);
        margin-bottom: 0.25em;
    }
    &__text-container {
        @include mixins.flex(column);
        align-items: flex-end;
        gap: 0.5em;
    }
    &__text {
        @include mixins.font-styling(fonts.$page-font, sizes.$main-font-size-large);
        &--bold {
            @include fonts.page-font-bold;
        }
    }

    @include q.large-laptop {
        @include mixins.flex(column-reverse);
        &__info {
            padding-top: 4rem;
            padding-bottom: 4rem;
            align-items: flex-start;
        }
        &__text-container {
            align-items: flex-start;
        }
    }

    @include q.laptop {
        &__info {
            @include mixins.section-padding(sizes.$laptop-padding);
        }
    }

    @include q.large-tablet {
        &__info {
            @include mixins.section-padding(sizes.$large-tablet-padding);
        }
        &__main-heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-tablet);
        }
        &__text-container {
            gap: 0.3em;
        }
        &__text {
            font-size: sizes.$main-font-size-large-tablet;
        }
    }

    @include q.large-phone {
        &__info {
            @include mixins.section-padding(sizes.$large-phone-padding);
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &__main-heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-phone);
        }
        &__text {
            font-size: sizes.$main-font-size-large-phone;
        }
    }
}