@use '../partials/mixins';
@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/sizes';
@use '../partials/media_queries' as q;

.contact {
    @include mixins.flex(row, space-between);
    @include mixins.section-padding(sizes.$large-padding);
    background-color: colors.$bright-pink;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    gap: 6em;
    &__heading-container {
        @include mixins.flex(column);
        @include mixins.colors(colors.$bright-pink, colors.$text-light);
        gap: 1.5em;
    }
    &__heading {
        @include mixins.section-header(sizes.$section-header-font-size-large);
    }
    &__heading-icon {
        align-self: center;
        font-size: 3em;
    }
    &__form {
        @include mixins.flex(column);
        box-sizing: border-box;
        background-color: colors.$main-green;
        gap: 1.5em;
        padding: 4em;
        border-radius: 1em;
        box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.4);
        flex-grow: 1;
        width: 100%;
        max-width:800px;
    }
    &__form-question {
        @include mixins.flex(row, space-between);
        flex-wrap: wrap;
        gap: 0.25em;

    }
    &__form-question-label {
        width: 100%;
        flex-grow: 1;
        @include fonts.page-font-bold;
        font-size: 1.5em;
        color: colors.$text-light;
    }
    &__form-question-input {
        border: none;
        border-radius: 2px;
        height: 1.5em;
        @include mixins.font-styling(fonts.$page-font, 1.25em);
        width: 100%;
        background-color: colors.$text-light;
        color: colors.$text-dark;
        &--textarea {
            height: 5rem;
        }
    }
    &__btn {
        @include mixins.button-styling(colors.$text-light);
        background-color: colors.$main-green;
        margin-top: 1em;
    }

    @include q.laptop {
        @include mixins.section-padding(sizes.$laptop-padding);
        padding-top: 5em;
        padding-bottom: 5em;
        gap: 4em;
        &__form {
            padding: 3em;
        }
    }

    @include q.large-tablet {
        @include mixins.section-padding(sizes.$large-tablet-padding);
        padding-top: 7.25em;
        padding-bottom: 7.25em;
        gap: 3em;
        &__heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-tablet);
        }
        &__heading-icon {
            font-size: 2.5em;
        }
        &__form-question-label {
            font-size: 1.25em;
        }
        &__form-question-input {
            height: 1.5em;
            @include mixins.font-styling(fonts.$page-font, 1em);
            &--textarea {
                height: 6rem;
            }
        }
        &__btn {
            @include mixins.button-styling(colors.$text-light, 1.25em);
            background-color: colors.$main-green;
            margin-top: 0.85em;
        }
    }

    @include q.tablet {
        @include mixins.flex(column);
        padding-top: 4em;
        padding-bottom: 4em;
        &__heading-container {
            @include mixins.flex(row);
        }
    }
}