@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';
@use '../partials/media_queries' as q;
@use '../partials/sizes';

.header {
    @include mixins.flex;
    width: 100%;
    &__info {
        @include mixins.flex(column, center);
        @include mixins.section-padding(sizes.$large-padding);
        @include mixins.colors(colors.$main-green, colors.$text-light);
        align-items: flex-start;
        flex: 1 1 100%;
    }
    &__main-heading {
        @include mixins.section-header(sizes.$section-header-font-size-large);
        margin-bottom: 0.25em;
    }
    &__text {
        @include mixins.font-styling(fonts.$page-font, sizes.$main-font-size-large);
        margin-bottom: 1.5em;
    }
    &__btn {
        @include mixins.button-styling(colors.$text-light);
    }
    &__image {
        flex: 1 1 50%;
        width: 100%;
        object-fit: cover;
        max-height: 100vh;
    }

    @include q.large-laptop {
        @include mixins.flex(column);
        &__info {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
    @include q.laptop {
        &__info {
            @include mixins.section-padding(sizes.$laptop-padding);
        }
    }

    @include q.large-tablet {
        &__info {
            @include mixins.section-padding(sizes.$large-tablet-padding);
        }
        &__main-heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-tablet);
        }
        &__text {
            font-size: sizes.$main-font-size-large-tablet;
        }
        &__btn {
            font-size: sizes.$main-font-size-large-tablet;
        }
    }
    @include q.large-phone {
        &__info {
            @include mixins.section-padding(sizes.$large-phone-padding);
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &__main-heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-phone);
        }
        &__text {
            font-size: sizes.$main-font-size-large-phone;
        }
        &__btn {
            font-size: sizes.$main-font-size-large-phone;
        }
    }
}