@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';

.header {
    @include mixins.flex;
    width: 100%;
    
    &__info {
        @include mixins.flex(column, center);
        @include mixins.section-padding;
        @include mixins.colors(colors.$main-green, colors.$text-light);
        flex-grow: 1;
        align-items: flex-start;
    }
    &__main-heading {
        @include mixins.section-header;
        margin-bottom: 0.25em;
    }
    &__text {
        @include mixins.font-styling(fonts.$page-font, 1.5em);
        margin-bottom: 1.5em;
    }
    &__btn {
        @include mixins.button-styling(colors.$text-light);
    }
}