@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';
@use '../partials/media_queries' as q;
@use '../partials/sizes';

.menu {
    @include mixins.flex(column);
    @include mixins.section-padding(sizes.$large-padding);
    align-items: center;
    gap: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    &__heading {
        @include mixins.section-header(sizes.$section-header-font-size-large);
        color: colors.$bright-pink;
    }
    &__category {
        @include mixins.flex(column);
        width: 100%;
    }
    &__category-wrapper {
        width: 100%;
    }
    &__category-wrapper-header {
        @include fonts.page-font-bold;
        @include mixins.colors(colors.$pale-pink, colors.$text-dark);
        font-size: 1.5em; 
        align-items: center;
        gap: 1.5em;
        padding: 0.5em 1em;
        cursor: pointer;
    }
    &__grid {
        @include mixins.flex(row, space-between);
        @include mixins.grid-styling(1.25em);
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        &--columns-3 {
            .menu__card {
                width: calc((100% - 2.5em) / 3);
            }
        }
    }
    &__card {
        @include mixins.flex(column);
        box-sizing: border-box;
        align-items: center;
        padding: 1.25em;
        @include mixins.colors(colors.$pale-pink, colors.$text-dark);
        gap: 1em;
    }
    &__card-image {
        width:100%;
        height: auto;
    }
    &__card-title {
        @include mixins.font-styling(fonts.$page-font, 1.5em);
        text-align: center;
    }
    &__card-dietary-container {
        @include mixins.flex(row, center);
        flex-wrap: wrap;
        gap: 1.5em;
    }
    &__card-dietary-info {
        @include mixins.flex;
        gap: 0.25em;
    }
    &__card-dietary-icon {
        color: colors.$main-green;
    }
    &__card-dietary-label {
        @include mixins.font-styling(fonts.$page-font, 0.85em);
        text-align: center;
    }

    @include q.laptop {
        @include mixins.section-padding(sizes.$laptop-padding);
    }

    @include q.large-tablet {
        @include mixins.section-padding(sizes.$large-tablet-padding);
        &__heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-tablet);
        }
        &__category-wrapper-header {
            font-size: 1.25em; 
        }
        &__grid {
            &--columns-3 {
                .menu__card {
                    width: calc((100% - 1.25em) / 2);
                }
            }
        }
        &__card-title {
            font-size: 1.25em;
        }
        &__card-dietary-label {
            font-size: 0.75em;
        }
    }
}            
                    