@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';

.menu {
    @include mixins.flex(column);
    @include mixins.section-padding;
    align-items: center;
    gap: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    &__heading {
        @include mixins.section-header;
        color: colors.$bright-pink;
    }
    &__category {
        @include mixins.flex(column);
        width: 100%;
    }
    /*Hide the checkbox input but keeping it accessible */
    &__category-toggle {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked ~ .menu__category-label .menu__category-toggle-icon-right {
            @extend .menu__category-toggle-icon-right--dropdown-open;
        }

        &:checked ~ .menu__category-label .menu__category-toggle-icon-down {
            @extend .menu__category-toggle-icon-down--dropdown-open;
        }

        &:checked ~ .menu__grid {
            @extend .menu__grid--open;
        }
    }
    &__category-toggle-heading {
        @include fonts.page-font-bold;
        font-size: 1.5em; 
    }
    &__category-label {
        @include mixins.flex;
        @include mixins.colors(colors.$pale-pink, colors.$text-dark);
        align-items: center;
        gap: 1.5em;
        padding: 0.5em 1em;
        cursor: pointer;
    }
    &__category-toggle-icon {
        font-size: 2em;
        line-height: 0.5;
        &-right {
            display: flex;
            transform: scale(1.75, 1);
            &--dropdown-open {
                display: none;
            }
        }
        &-down {
            display: none;
            transform: scale(1, 1.75);
            &--dropdown-open {
                display: flex;
            }
        }
    }
    &__grid {
        display: none;

        &--open {
            @include mixins.flex(row, space-between);
            flex-wrap: wrap;
            gap: 1.25em;
            margin-top: 1.25em;
            margin-bottom: 1.25em;
            width: 100%;
        }
    }
    &__card {
        @include mixins.flex(column);
        box-sizing: border-box;
        align-items: center;
        padding: 1.25em;
        width: calc((100% - 2.5em) / 3);
        @include mixins.colors(colors.$pale-pink, colors.$text-dark);
        gap: 1em;
    }
    &__card-image {
        width:100%;
        height: auto;
    }
    &__card-title {
        font-family: fonts.$page-font;
        font-size: 1.5em;
    }
    &__card-dietary-container {
        @include mixins.flex(row, center);
        flex-wrap: wrap;
        gap: 1.5em;
    }
    &__card-dietary-info {
        @include mixins.flex;
        gap: 0.25em;
    }
    &__card-dietary-icon {
        color: colors.$main-green;
    }
    &__card-dietary-label {
        font-family: fonts.$page-font;
        font-size: 0.85em;
    }
}            
                    