@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';
@use '../partials/media_queries' as q;
@use '../partials/sizes';

.navbar {
    position: sticky;
    top: 0;
    @include mixins.flex(row, space-between);
    @include mixins.section-padding(sizes.$large-padding);
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: colors.$text-light;
    &__icon {
        color: colors.$bright-pink;
        font-size: 2.5em;
        &--flipped {
            transform: scaleX(-1);
        }
    }
    &__list-toggle {
        display: none;
    }
    &__hamburger {
        display:none;
        color: colors.$text-dark;
        font-size: 2.5em;
    }
    &__list {
        @include mixins.flex;
    }
    &__item {
        list-style: none;
        padding-left: 4em;
    }
    &__link {
        @include fonts.page-font-bold;
        text-decoration: none;
        color: colors.$text-dark;
    }

    @include q.laptop {
        @include mixins.section-padding(sizes.$laptop-padding);
    }

    @include q.large-tablet {
        @include mixins.section-padding(sizes.$large-tablet-padding);
        &__icon {
            font-size: 2em;
        }
        &__item {
            font-size: 0.85em
        }
    }
    @include q.large-phone {
        @include mixins.section-padding(sizes.$large-phone-padding);
        &__hamburger {
            display: block;
            color: colors.$text-dark;
            font-size: 2.5em;
            cursor: pointer;
        }
        &__list-toggle {
            display: block;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            &:checked ~ .navbar__list {
                @extend .navbar__list--open;
            }
        }
        &__list {
            display: none;
            position: absolute;
            width: 100%;
            z-index: 2;
            top: 5em;
            left: 0;
            background-color: colors.$text-light;
            align-items: center;
            gap: 1em;
            padding: 1em;
            &--open {
                @include mixins.flex(column);
            }
        }    
        &__item {
            list-style: none;
            padding-left: 0;
            font-size: 1em;
        }
    }
}