@use '../partials/colors';
@use '../partials/fonts';
@use '../partials/mixins';
@use '../partials/media_queries' as q;
@use '../partials/sizes';

@mixin quotation-mark($align, $font-size: 1.5em) {
    font-size: $font-size;
    align-self: $align;
}

.reviews {
    @include mixins.flex(column);
    @include mixins.section-padding(sizes.$large-padding);
    align-items: center;
    background-color: colors.$bright-pink;
    gap: 0.75em;
    padding-top: 1.5em;
    padding-bottom: 3em;
    &__heading {
        @include mixins.section-header(sizes.$section-header-font-size-large);
        color: colors.$text-light;
    }
    &__grid {
        @include mixins.flex(row, center);
        @include mixins.grid-styling(1.5em);  
        &--columns-2 {
            .reviews__card {
                width: calc((100% - 1.5em) / 2);
            }
        }
    }
    &__card {
        @include mixins.flex(column);
        padding: 1.5em 2em;
        gap: 1.5em;
        border: 3px solid colors.$text-light;
        color: colors.$text-dark;
    }
    &__quote {
       @include mixins.flex(row, space-between);
       @include fonts.page-font-bold-italics;
       width: 100%;
       gap: 0.75em;
    }
    &__quote-icon {
        &--left {
            @include quotation-mark(flex-start);
        }
        &--right {
            @include quotation-mark(flex-end);
        }
    }
    &__quote-text {
        font-size: 1.2em;
        align-self: center;
        text-align: center;
    }
    &__quote-info {
       @include mixins.flex(row, space-between);
       width: 100%;
       font-family: fonts.$page-font;
    }

    @include q.laptop {
        @include mixins.section-padding(sizes.$laptop-padding);
    }

    @include q.large-tablet {
        @include mixins.section-padding(sizes.$large-tablet-padding);
        &__heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-tablet);
        }
        &__grid { 
            &--columns-2 {
                .reviews__card {
                    width: 100%;
                }
            }
        }
        &__quote-icon {
            &--left {
                @include quotation-mark(flex-start, 1.25em);
            }
            &--right {
                @include quotation-mark(flex-end, 1.25em);
            }
        }
        &__quote-text {
            font-size: 1.1em;
        }
        &__quote-info {
            font-size: 0.85em;
        }
    }
    @include q.large-phone {
        @include mixins.section-padding(sizes.$large-phone-padding);
        &__heading {
            @include mixins.section-header(sizes.$section-header-font-size-large-phone);
        }
        &__grid {
            gap: 1.25em;
        }
        &__card {
            gap: 1em;
            padding: 1em 1.5em;
        }
        &__quote {
            gap: 0.25em;
        }
        &__quote-icon {
            &--left {
                @include quotation-mark(flex-start, 1em);
            }
            &--right {
                @include quotation-mark(flex-end, 1em);
            }
        }
        &__quote-text {
            font-size: 0.85em;
        }
        &__quote-info {
            font-size: 0.75em;
        }
    }
} 